<!DOCTYPE html>
<html>

<head>
    <title>korotole | books</title>
    {{template "Metadata"}}
</head>

<body>
    <div class="b-page">

        {{template "Topper"}}

        <div class="tabs-nav">
            <div class="tab-special">
                <button class="tab-button tablink active" onclick="openTab(event,'Edit')">✏️</button>
            </div>
            <div class="tabs">
                <button class="tab-button tablink" onclick="openTab(event,'Finished')">🏁 Finished</button>
                <button class="tab-button tablink" onclick="openTab(event,'Planned')">📌 Planned</button>
            </div>
            <div class="tab-special">
                <button class="tab-button tablink" onclick="openTab(event,'Search')">🔍</button>
            </div>
        </div>

        <div id="Edit" class="tab-content">
            <h2>Edit tab</h2>
            <p>Please, add another book.</p>
        </div>

        <div id="Search" class="tab-content" style="display:none">
            <h2>Search</h2>
            <p>Search for books.</p>
        </div>

        <div id="Finished" class="tab-content" style="display:none">
            <h2>Finished</h2>
            <p>Search for books.</p>
        </div>

        <div id="Planned" class="tab-content" style="display:none">
            <h2>Planned</h2>
            <p>List of books that are to be read.</p>
        </div>


        {{template "Footer" .}}

    </div>
</body>

<script>
    function openTab(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab-content");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

</html>