{{define "Footer"}}
<div class="footer">
    <p><small><small>
        <a href="/login" class="emoji-btn">🔑</a> | 
        &copy; 2025 Ing. Oleksandr Korotetskyi. All rights reserved. | 
        <a href="/donate">donate</a> | 
        visitors: <span id="visitor-count">{{ . }}</span>
    </small></small></p>
</div>

<script>
    const socket = new WebSocket("ws://" + window.location.host + "/ws");
  
    socket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      document.getElementById("visitor-count").textContent = data.visitor_count;
    };
  
    socket.onclose = function() {
      console.log("WebSocket connection closed");
    };
</script>  
{{end}}
