<!DOCTYPE html>
<html>

<head>
  <title>korotole | main</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/styles.css">
  <!-- icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favs/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favs/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favs/favicon-16x16.png">
  <link rel="manifest" href="/static/assets/favs/site.webmanifest">
</head>

<body>
  <div class="b-page">

    {{template "Header"}}

    <h3>Contacts & Media:</h3>
    <p>
      <a href="https://t.me/korotole">telegram</a>&nbsp;
      <a href="https://www.instagram.com/korotole/">instagram</a>&nbsp;
      <a href="https://www.linkedin.com/in/oleksandr-korotetskyi-57a8b9143/">linkedin</a>&nbsp;
      <a href="https://github.com/korotole">github</a>&nbsp;
    </p>
    <p>
      <strong><a href="mailto:korotole@icloud.com">korotole@icloud.com</a></strong>
    </p>

    <h3>Selected University Projects:</h3>

    <p>🚓 <a href="https://dspace.cvut.cz/handle/10467/113775">Automotive Ethernet Signals Manipulation System</a> — master's thesis done in collaboration with <a href="https://www.porscheengineering.com/en/peg">Porsche Engineering</a>.</p>
    <p>🧬 <a href="http://opac.lib.tuke.sk/tukeopac/openURL?sid=tuk00102103">Genome Structure Visualization</a> — made-in-a-hurry bachelor's thesis, <a href="https://github.com/korotole/Bachelor-Thesis/blob/master/thesis%20(11).pdf">PDF</a>.</p>
    <p>🍝 <a href="https://www.suz.cvut.cz/en/canteens-catering/technical-canteen">Technical Canteen Load Analysis</a> — semestral team project; <a href="/files/etc/vem.png">info</a>, <a href="/files/etc/vem.pdf">PDF</a>.</p>

    {{template "Footer" .}}

  </div>
</body>

</html>