{{define "Metadata"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/newsletter.css">
<link rel="stylesheet" href="/static/css/wallet.css">

<!-- icons: -->
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favs/favicon-light-32x32.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favs/favicon-dark-32x32.png" media="(prefers-color-scheme: light)">

<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favs/favicon-light-16x16.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favs/favicon-dark-16x16.png" media="(prefers-color-scheme: light)">

<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favs/apple-touch-icon.png">

<link rel="manifest" href="/static/assets/favs/site.webmanifest">
{{end}}