{{define "Topper"}}
<div class="topper" id="topper">
    <div class="infobar">
        <p>v1.0.0 ~ 06fbb06d&nbsp;|
            &nbsp;<a href="/info-bot" class="emoji-btn">🟢</a>
            &nbsp;<a href="/info-database" class="emoji-btn">🔴</a>
            &nbsp;<a href="/info-controller" class="emoji-btn">🟡</a>
        </p>    
    </div>
    <div class="controls">
        <p>
            <a href="/ctrl-update" class="emoji-btn">⏬</a>&nbsp;
            <a href="/ctrl-restart" class="emoji-btn">🔁</a>&nbsp;
            <a href="/ctrl-shutdown" class="emoji-btn">⏹️</a>
        </p>
    </div>
</div>
<div style="height: 12px;"></div> <!-- Spacer -->
{{end}}
