{{define "Wallet-Actions"}}
<p class="wallet-actions">
    <!-- Copy Button -->
    <button class="action-btn copy-btn">
      <picture>
        <source srcset="/static/assets/icons/copy-light.svg" media="(prefers-color-scheme: dark)">
        <img src="/static/assets/icons/copy-dark.svg" alt="Copy Icon" class="icon">
      </picture>
      <!-- <span>Copy</span> -->
    </button>
    <!-- Download Button -->
    <button class="action-btn download-btn">
      <picture>
        <source srcset="/static/assets/icons/download-light.svg" media="(prefers-color-scheme: dark)">
        <img src="/static/assets/icons/download-dark.svg" alt="Download Icon" class="icon">
      </picture>
      <!-- <span>Download</span> -->
    </button>
</p>
{{end}}